#inicio {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#inicio img {
    margin-right: 10px;
    width: 50%;
    height: auto;
}



.conteiner1 {

    border: #021426 3px solid;
    background-color: rgb(213, 229, 238);


}

html,
body {
    background-color: #f6fbfe;
    /* Cor de fundo do HTML */
    margin: 0;
    padding: 0;
}

header {
    background-color: #95b7c5;
    /* Cor de fundo do header */
    padding: 20px;
    text-align: center;
}

.imagem {
    background-image: url(./imagem/Nuvem.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
    height: 14vh;
    /* Definindo altura para ocupar toda a viewport */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    text-align: justify;
    display: block;
    justify-content: center;

}


header {
    /* background-color: rgb(202, 211, 243); */
    padding: 2px;
    padding: 20px;
    text-align: center;
    /* Centraliza o conteúdo do header */

}

header h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 5px;
    ;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;


}

header ul li {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: justify;
    /* Adiciona justificação ao texto */
    text-align: center;
    color: black;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

section hr {
    border: none;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    margin-bottom: 20px;
}

section p {
    font-size: 14px;
    margin-bottom: 10px;
}

section ul {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 10px;
}

section ul li {
    font-size: 14px;
    margin-bottom: 5px;
}

section ul li:last-child {
    margin-bottom: 0;
}

strong {
    font-weight: bold;
}

hr {
    border: none;
    height: 2px;
    background-color: #00070e;
    /* Cor azul claro desejada */
    margin: 20px 0;
}




/* Curriculo da Ana Linna */
.conteiner2 {
    border: #a0ab67 2px solid;
    background-color: #d6ebcc;
}

#ana {
    background-color: #a0ab67;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end
}

#ana .content {
    float: left;
    padding-top: 20px;
    width: 50%;
    /* Defina a largura desejada para o conteúdo de texto */
}

#ana img {
    float: right;
    width: 20%;
    /* Defina a largura desejada para a imagem */
    height: 30%;
    border-radius: 10px;
    border-color: #00070e 2px;
    ;
}

/* Estilização Giovanne */
.conteiner3 {
    border: #efdabb 2px solid;
    background-color: #efdabb;
}

#giovanni {
    background-color: #d6a355;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end
}

#giovanni .content2 {

    align-items: center;
    padding-right: 25%;


}

/* Estilização Luis */
.conteiner4 {
    border: #bfd9ca 2px solid;
    background-color: #bfd9ca;
}

#luis h2 ul li {
    color: #0e0f10;
    /* align-items: center; */
    padding-right: 30%;

}

#luis .conteiner4 {

    align-items: center;
    padding-right: 25%;


}

/* Estilização Vinicios */
.conteiner5 {
    border: #6da42e 2px solid;
    background-color: #cbf1d1;
}


#vini {

    background-color: #6da42e;
}

#vini h2 ul li {
    color: #00070e;
    align-items: center;

}

/* Estilização Daniel */
.conteiner6 {
    border: #704949 2px solid;
    background-color: #eddcdc
}

#daniel {
    background-color: #916958;

}

#daniel h2 ul li {

    color: #00070e;
    align-items: center;

}